In [3]:
### Dropping Columns,Dropping Values, Various Parameter in Dropping Functionalities, Handling Missing Values

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('new Practice').getOrCreate()

In [3]:
pwd

'E:\\Jupyter notebook\\Practice'

In [4]:
py_spark = spark.read.csv('test.csv',header=True,inferSchema=True)

In [5]:
py_spark.show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
|    john|  23|        10| 30000|
|    mary|  24|         8| 25000|
|john doe|  25|         9| 28000|
|  shubam|  26|         2| 18000|
|  mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [6]:
### Drop the Columns

In [7]:
py_spark.drop('Name').show()

+----+----------+------+
| age|experience|salary|
+----+----------+------+
|  23|        10| 30000|
|  24|         8| 25000|
|  25|         9| 28000|
|  26|         2| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [8]:
### This command is going to Drop the columns which are having the null values
py_spark.na.drop().show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|    john| 23|        10| 30000|
|    mary| 24|         8| 25000|
|john doe| 25|         9| 28000|
|  shubam| 26|         2| 18000|
+--------+---+----------+------+

In [9]:
### Any == how

### Drooping the Columns based on the any number of  the null values
### If how consist of any
#### it will drop such rows where if it is having more than one null values

In [10]:
py_spark.na.drop(how="any").show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|    john| 23|        10| 30000|
|    mary| 24|         8| 25000|
|john doe| 25|         9| 28000|
|  shubam| 26|         2| 18000|
+--------+---+----------+------+

In [22]:
# threshold
# How many list of non-null values are present
# here thres is a keyword that represent the non-null values
py_spark.na.drop(how="any",thresh=2).show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
|    john|  23|        10| 30000|
|    mary|  24|         8| 25000|
|john doe|  25|         9| 28000|
|  shubam|  26|         2| 18000|
|  mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
+--------+----+----------+------+

In [13]:
# it shows only those rows which are having 2 not null values

In [ ]:
# Subset

In [25]:
# Fill the Missing Values
py_spark.na.fill('Missing Values',['age']).show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
|    john|  23|        10| 30000|
|    mary|  24|         8| 25000|
|john doe|  25|         9| 28000|
|  shubam|  26|         2| 18000|
|  mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [26]:
py_spark

DataFrame[name: string, age: int, experience: int, salary: int]