In [3]:
### Dropping Columns,Dropping Values, Various Parameter in Dropping Functionalities, Handling Missing Values

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('new Practice').getOrCreate()

In [2]:
pwd

'E:\\Jupyter notebook\\Practice'

In [4]:
py_spark = spark.read.csv('test.csv',header=True,inferSchema=True)

In [5]:
py_spark.show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
|    john|  23|        10| 30000|
|    mary|  24|         8| 25000|
|john doe|  25|         9| 28000|
|  shubam|  26|         2| 18000|
|  mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [6]:
### Drop the Columns

In [7]:
py_spark.drop('Name').show()

+----+----------+------+
| age|experience|salary|
+----+----------+------+
|  23|        10| 30000|
|  24|         8| 25000|
|  25|         9| 28000|
|  26|         2| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [9]:
### This command is going to Drop the columns which are having the null values
py_spark.na.drop().show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|    john| 23|        10| 30000|
|    mary| 24|         8| 25000|
|john doe| 25|         9| 28000|
|  shubam| 26|         2| 18000|
+--------+---+----------+------+

In [10]:
### Any == how

### Drooping the Columns based on the any number of  the null values
### If how consist of any
#### it will drop such rows where if it is having more than one null values