In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("practice").getOrCreate()

In [3]:
df_spark = spark.read.csv('test.csv',header=True,inferSchema=True)

In [5]:
df_spark.show()

+--------+------------+------+
|    name|  Department|salary|
+--------+------------+------+
|    john|Data science| 30000|
|    mary|         iot| 25000|
|    mary|    Big Data| 28000|
|john doe|    Big Data| 18000|
|  shubam|Data science| 40000|
|  mahesh|         iot| 10000|
|    john|    Big Data|  5000|
|   Sunny|Data science| 10000|
+--------+------------+------+

In [6]:
df_spark.printSchema()

root
 |-- name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- salary: integer (nullable = true)

In [9]:
### Group By
### Group to find the maximum salary
df_spark.groupBy('name').sum().show()

+--------+-----------+
|    name|sum(salary)|
+--------+-----------+
|    mary|      53000|
|   Sunny|      10000|
|  shubam|      40000|
|    john|      35000|
|  mahesh|      10000|
|john doe|      18000|
+--------+-----------+

In [14]:
### Group By Department which gives maximum salary
df_spark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(salary)|
+------------+-----------+
|         iot|      35000|
|Data science|      80000|
|    Big Data|      51000|
+------------+-----------+

In [15]:
### Mean salary

In [17]:
df_spark.groupBy('Department').mean().show()

+------------+------------------+
|  Department|       avg(salary)|
+------------+------------------+
|         iot|           17500.0|
|Data science|26666.666666666668|
|    Big Data|           17000.0|
+------------+------------------+

In [20]:
df_spark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         iot|    2|
|Data science|    3|
|    Big Data|    3|
+------------+-----+

In [21]:
df_spark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     166000|
+-----------+

In [22]:
df_spark.groupBy('name').max().show()

+--------+-----------+
|    name|max(salary)|
+--------+-----------+
|    mary|      28000|
|   Sunny|      10000|
|  shubam|      40000|
|    john|      30000|
|  mahesh|      10000|
|john doe|      18000|
+--------+-----------+

In [23]:
df_spark.groupBy('name').min().show()

+--------+-----------+
|    name|min(salary)|
+--------+-----------+
|    mary|      25000|
|   Sunny|      10000|
|  shubam|      40000|
|    john|       5000|
|  mahesh|      10000|
|john doe|      18000|
+--------+-----------+